@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background: #1E222C;
    cursor: none;
}

#about {
    font-family: "Montserrat", sans-serif;
}

.about-p {
    font-family: "Courier Prime", monospace;
}

#sign {
    font-family: "Roboto Mono", monospace;
}

#login-text,
#acc,
.logout-btn {
    font-family: "Saira Condensed", sans-serif;
}

/* github button effect */

#github {
    box-shadow: 0 3px #28313F;
}

#github:hover {
    box-shadow: 0 2px #28313F;
    transform: translateY(1px);
}

/* gmail button effect */

#gmail {
    box-shadow: 0 3px #9A2F27;
}

#gmail:hover {
    box-shadow: 0 2px #9A2F27;
    transform: translateY(1px);
}

/* instagram button effect */
#instagram {
    box-shadow: 0 3px #c82843;
}

#instagram:hover {
    box-shadow: 0 2px #c82843;
    transform: translateY(1px);
}

/* linkedin button effect */
#linkedin {
    box-shadow: 0 3px #0a4fbe;
}

#linkedin:hover {
    box-shadow: 0 2px #0a4fbe;
    transform: translateY(1px);
}

/* twitter button effect */
#twitter {
    box-shadow: 0 3px #303030;
}

#twitter:hover {
    box-shadow: 0 2px #303030;
    transform: translateY(1px);
}

/* portfolio button effect */
#portfolio {
    box-shadow: 0 3px #085d27;
}

#portfolio:hover {
    box-shadow: 0 2px #085d27;
    transform: translateY(1px);
}


.profile-btn {
    align-items: center;
    background-color: #0000001a;
    border-left: #7f7f7f;
    color: #7f7f7f;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 700;
    gap: 10px;
    /* justify-content: space-between; */
    padding: var(--unit-v) var(--unit-h);
    text-transform: uppercase;
    transition: color .2s ease-out, border .2s ease-out;
    width: 100%;
    padding: 20px 16px 20px 16px;
}

.profile-btn:hover img {
    filter: brightness(0) saturate(100%) invert(100%);

}

#emailvalidation,
#emailvalidation::placeholder {
    font-family: "Courier Prime", monospace;
}

/* this down below styles work for border hover animation */

.hover-effect {
    position: relative;
    overflow: hidden;
}

.hover-effect::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    transition: all 0.1s ease-in-out;
}

.hover-effect:hover::before {
    animation: border-animation 0.5s linear forwards;
    border-color: rgba(255, 255, 255, 0.554)
}

/* Keyframes for border animation */
@keyframes border-animation {
    0% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }

    25% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    50% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    }

    75% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.profile-slide{
    animation-duration: 1s;
    animation-name: slide-in;
}

@keyframes slide-in {
    from {
        transform: translateY(150%);
      }
      to {
        transform: translateY(0);
      }
  }